name: Flutter Build & Release

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    name: Build & Release APK
    runs-on: windows-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Setup Java
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: zulu
          java-version: '19'

      # Setup Flutter
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.0'
          channel: stable

      # Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # Build release APK (unsigned)
      - name: Build APK
        run: flutter build apk --release

      # Upload APK artifact
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: flutter-apk
          path: build/app/outputs/flutter-apk/app-release.apk

      # Create GitHub Release
      - name: Create GitHub Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: build/app/outputs/flutter-apk/app-release.apk
          tag: v${{ github.run_number }}
          token: ${{ secrets.Mac-Store-User }}
